options {
	keep-hostname(yes);
};

# EVENTS log source (with default 300 number of connections, if there will be more sandboxes then it will be essential to extend that number)
source s_host {
    network(
       ip({{ kmlf_source_ip }})
       port({{ kmlf_source_port }})
       transport({{ kmlf_source_protocol }})
       flags(syslog-protocol)
       #Maximum clients, that can be served by syslog-ng
       max-connections({{ kmlf_source_max_connections }})
    );
};

rewrite r_rewrite_set {
    set("$FULLHOST_FROM", value(".SDATA.kypo.fromhost_ip"));
};

# EVENTS log destination
{% if kmlf_destination == "0.0.0.0" %}
destination d_man_logs {
    file( 
        "/data/idm-logs/man.log"
        create-dirs(yes)
        owner("root")
        group("root")
        perm(0777)
    );
};

# EVENTS log pairing
log {
    source(s_host);
    rewrite(r_rewrite_set);
    destination(d_man_logs);
};

{% else %}
destination d_destination_host {
    network(
        "{{ kmlf_destination }}"
        port({{ kmlf_destination_port }})
        transport({{ kmlf_destination_protocol }})
        ip-protocol(4)
        flags(syslog-protocol)
    );
};

# EVENTS Log pairing
log {
    source(s_host);
    rewrite(r_rewrite_set);
    destination(d_destination_host);
};
{% endif %}
